graft niftypet/auxdata
graft niftypet/nipet/src
graft niftypet/nipet/dinf
graft niftypet/nipet/lm/src
graft niftypet/nipet/prj/src
graft niftypet/nipet/sct/src
graft resources/
recursive-include ./ *.py
include niftypet/nipet/def.h
recursive-include niftypet CMakeLists.txt
include LICENCE
include README.rst
exclude niftypet/nipet/sigaux.py
exclude niftypet/nipet/xnat
